html, body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    color: #333;
    font: 300 15px/1 Verdana;
}

/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */

body {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

.wrapper {
    width: 500px;
    position: relative;
    left: 50%;
    margin-left: -250px; /* half the width */
}

h1, h2 {
    font: bold 60px/1 'Ubuntu';
    color: rgba(40, 40, 40, 0.8);
    text-shadow: 1px 2px 3px #DDD, 0 0 0 #000, 1px 2px 3px #DDD;
    letter-spacing: -5px;
}
h2 {
    font-size: 30px;
    letter-spacing: -2px;
    text-shadow: 1px 2px 3px #DDD, 0 0 0 #222, 1px 2px 3px #DDD;
}